/*styles*/

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body {
	font: 100%/1.5em Helvetica, Arial, sans-serif;
	color: #313131;
}

.container {
	background: #edede1;
	width: 90%;
	margin: 0 auto;
	display: table;
}

section {
	display: table-cell;
}

aside {
	background: #d1d1c1;
	width: 300px;
	display: table-cell;
}

footer {
	clear: both;
}